
<br />

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 well">
        <h2>These are a few of {{person.name}}'s favorite things</h2>
        <ol>
            <li ng-repeat="item in items">
                <span ng-bind="item.text"></span>
            </li>
        </ol>
        <div class="form-group">
            <button class="btn btn-primary"
                    style="float:right;"
                    ng-click="submitRequest()">Request from Santa</button>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

